.container {
	max-width: 75rem;

	margin: 0 auto;
	padding: 0 1rem;
}

.content {
	max-width: 44rem;

	margin: 0 auto;
	padding: 2rem 1rem;
}

.content img {
	width: auto;

	margin: 0 auto;

	border: 5px solid var(--color-white);
}

.content__date {
	display: inline-block;

	margin-top: 1rem;
	padding: 0.5rem;

	border-top: 1px solid var(--color-yellow);
}

.main {
	width: 100%;

	margin: 0 auto;
}

.page_visual {
	position: relative;

	height: 20rem;

	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;

	border-bottom: 2px solid var(--color-yellow);
}

.page_visual--large {
	height: 30rem;
	max-height: 70vh;

	background-position: center center;
}
