---
import { Image } from 'astro:assets';

import BaseLayout from "../../layouts/base.astro";
import Content from "../../components/Content.astro";
---

<BaseLayout title="Fotoalbums">
	<Content title="Fotoalbums">

		<h2 id="year-2023">2024</h2>
		<div class="gallery__list">
			<a
				href="/fotoalbums/2024/dansmiddag-maart-24"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Dansmiddag<br />10 maart</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2024/dansmiddag 10 maart 24/Foto 03-12-2024, 16 52 36 (1).jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2024/beweegbingo-21-maart-2024"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Beweegbingo<br />21 maart</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2024/beweegbingo 21 maart 24/Foto 03-12-2024, 16 54 30.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2024/burendag-2024"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Burendag</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2024/Burendag 2024/Foto 28-09-2024, 10 03 02.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>
		</div>


		<h2 id="year-2023">2023</h2>
		<div class="gallery__list">
			<a
				href="/fotoalbums/2023/heropening-speeltuin"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Heropening Speeltuin</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2023/heropening-speeltuin/Foto 14-06-2023 13 43 47-min.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2023/pasen"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Pasen</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2023/pasen/98419fff-44fb-4254-832f-c82c90ad8b84.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2023/rsd-fitweek-beweegbingo"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>RSD Fitweek; Beweegbingo</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2023/rsd-fitweek-beweegbingo/937c6e85-3914-42f7-8942-6d46e9c33781.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>
		</div>

		<h2 id="year-2022">2022</h2>
		<div class="gallery__list">
			<a
				href="/fotoalbums/2022/dansmiddag-mei"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Dansmiddag mei</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2022/dansmiddag-mei/IMG_3278.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2022/dansmiddag-september"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Dansmiddag September</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2022/dansmiddag-september/DSC_0584.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2022/vrijwilligersuitje-oktober"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Vrijwilligersuitje oktober</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2022/vrijwilligersuitje-oktober/0a02b085-aa7a-4ce8-bbd2-1676cdc994db.jpeg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>
		</div>

		<h2 id="year-2020">2020</h2>
		<div class="gallery__list">
			<a
				href="/fotoalbums/2020/bhv-cursus"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>BHV cursus</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2020/bhv-cursus/1190835bhv1.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2020/groot-keienbal"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Groot Keienbal</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2020/groot-keienbal/IMG_7549.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2020/keikesbal-kindercarnaval"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Keikesbal kindercarnaval</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2020/keikesbal-kindercarnaval/1.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>
		</div>

		<h2 id="year-2019">2019</h2>
		<div class="gallery__list">
			<a
				href="/fotoalbums/2019/burendag"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Burendag</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/burendag/38e8c24f-6f6d-4fe6-9c5c-a884423f63e8.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/creaveres-wintermarkt"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Creaveres wintermarkt</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/creaveres-wintermarkt/72699534_2805047482872246_6536846194792988672_o.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/dansmiddag"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Dansmiddag</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/dansmiddag/Foto 03-11-2019 15 12 59.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/keikesbal"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Keikesbal</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/keikesbal/IMG_0295.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/korenmiddag"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Korenmiddag</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/korenmiddag/IMG_1830.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/sport-en-spel-middag"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Sport en Spel middag</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/sport-en-spel-middag/IMG_0794.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/ut-groot-keijenbal"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Ut groot Keijenbal</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/ut-groot-keijenbal/IMG_0337.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/veerkampjes-glamour-bingo"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Veerkampjes Glamour bingo</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/veerkampjes-glamour-bingo/8c24dfd5-b5ec-4f1a-abdd-beb93448f0e4.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>

			<a
				href="/fotoalbums/2019/vrijwilligers-uitje"
				class="gallery__list-item"
			>
				<div class="gallery__list-item__title">
					<h3>Vrijwilligers uitje</h3>
				</div>

				<div class="gallery__list-item__img">
					<Image
						src="/images/fotoalbums/2019/vrijwilligers-uitje/IMG_1587.jpg"
						width={210}
						height={155}
						alt=""
					/>
				</div>
			</a>
		</div>
	</Content>
</BaseLayout>

<style>
	.gallery__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		margin-right: -0.5rem;
		margin-bottom: 3rem;
		margin-left: -0.5rem;
	}

	.gallery__list-item__img {
		filter: blur(2px);
	}

	.gallery__list-item {
		position: relative;
		display: block;

		overflow: hidden;

		width: 100%;
		height: 155px;

		margin: 0.5rem;

		&:hover .gallery__list-item__title {
			background-color: rgba(245, 155, 30, 0.2);
			border: 2px solid var(--color-yellow);
		}
	}

	.gallery__list-item__title {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;

		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
		text-shadow: 0 0 7px var(--color-true-black);

		background-color: rgba(0, 0, 0, 0.2);
	}

	.gallery__list-item__title h3 {
		padding: 0 1rem;

		color: var(--color-white);
		font-size: var(--font-size-l);
	}

	@media (min-width: 30rem) {
		.gallery__list-item {
			width: 210px;
			height: 155px;
		}
	}
</style>
