.call-to-action {
	padding: 2rem;

	background-color: var(--color-purple);
	border-bottom: 4px solid var(--color-white);
}

.call-to-action__wrapper {
	display: flex;
	flex-direction: column;

	@media (--medium) {
		justify-content: space-around;
		align-items: center;

		flex-direction: row;
	}
}

.call-to-action__body {
	margin-bottom: 1rem;

	color: var(--color-white);
	font-size: var(--font-size-l);
	font-weight: bold;
	line-height: 2;

	@media (--medium) {
		margin-bottom: 0;
	}
}


.call-to-action__button {
	text-align: center;

	.btn {
		margin: 0;
	}
}
