.header {
	position: relative;
	z-index: 1;

	padding: 1rem 0;

	background-color: var(--color-white);
	box-shadow: 0 10px 14px -13px var(--color-true-black);
}

.mobile-menu-active {
	background-color: var(--color-green);

	.header {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;

		width: 100vw;
		height: 100vh;

		background-color: var(--color-green);

		@media (--large) {
			position: relative;
			top: auto;
			left: auto;
			z-index: auto;

			width: auto;
			height: auto;

			background-color: var(--color-white);
		}
	}
}
