.highlight {
	position: absolute;
	bottom: 10%;
	left: 10%;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: rotate(-5deg);

	width: 150px;
	height: 150px;
	padding: var(--distance-m);

	color: var(--color-white);
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	background: var(--color-green);
	border-radius: 50%;
	border: 2px solid var(--color-white);

	@media (--large) {
		bottom: 15%;
		left: 15%;
	}

	&:hover {
		border-color: var(--color-green);

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			display: flex;
			justify-content: center;
			align-items: center;

			color: var(--color-green);
			font-weight: bold;
			text-align: center;

			background-color: var(--color-white);
			border-radius: 50%;

			content: attr(data-content);
		}
	}
}
