.navigation__container {
	position: relative;
	display: flex;
}

.navigation__logo {
	display: inline-block;

	max-width: 200px;

	padding-top: 0.5rem;

	@media (--xlarge) {
		max-width: 250px;
	}
}

.navigation__link {
	display: inline-block;

	padding: 0.5rem 1rem;

	color: var(--color-white);
	text-decoration: none;

	transition: all 0.5s ease;

	@media (--large) {
		display: block;

		padding: 1rem 0.5rem;

		color: var(--color-text);
	}

	@media (--xlarge) {
		padding: 1rem;
	}
}

.navigation__scroll {
	position: absolute;
	top: 4rem;

	display: none;

	overflow: auto;
	max-height: 75vh;

	margin: 0 0 0 auto;
	padding-left: 0;

	list-style: none;
	text-align: center;

	background: linear-gradient(var(--color-green) 30%, rgba(255, 255, 255, 0)),
		linear-gradient(rgba(255, 255, 255, 0), var(--color-green) 70%) 0 100%,
		radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;

	background-repeat: no-repeat;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;

	@media (--large) {
		position: relative;
		top: auto;

		display: block;

		overflow: visible;
		max-height: none;

		text-align: left;

		background: none;
	}
}

.navigation__list {
	position: relative;

	padding: 0;
}

.navigation__list-item {
	position: relative;
	display: inline-block;

	width: 100%;

	margin-bottom: 1rem;

	@media (--large) {
		width: auto;

		margin-bottom: 0;
	}

	&.is-active:before {
		position: absolute;
		top: 80%;
		left: 50%;

		width: 5px;
		height: 5px;

		border-radius: 50%;
		background-color: var(--color-green);

		content: '';
	}

	&.is-active > .navigation__link {
		border: 1px solid var(--color-white);

		@media (--large) {
			color: var(--color-green);

			border-bottom: none;
		}
	}

	&:hover > .navigation__link,
	&:focus > .navigation__link {
		color: var(--color-white);

		background-color: var(--color-green);
	}

	.navigation__sublist {
		display: none;

		@media (--large) {
			position: absolute;
			top: 2.7rem;
			left: 0;

			min-width: 6rem;
			margin: 1rem 0 0;
			padding-left: 0;

			background-color: var(--color-white);

			visibility: hidden;
			opacity: 0;

			transition: all 0.5s ease;
		}

		.navigation__list-item {
			width: 100%;

			&:hover > .navigation__link,
			&:focus > .navigation__link {
				color: var(--color-white);

				background-color: var(--color-green);
			}

			&.is-active:before {
				display: none;
			}
		}
	}

	/* Seperate line for browser support */
	/* https://css-tricks.com/dont-comma-separate-focus-within-if-you-need-deep-browser-support/ */
	&:focus-within > .navigation__sublist {
		@media (--large) {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}

	&:hover > .navigation__sublist,
	.navigation__sublist:hover,
	.navigation__sublist:focus {
		@media (--large) {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}
}

.navigation__mobile-toggle {
	position: relative;
	display: inline-block;

	width: 30px;
	height: 30px;

	margin: 0.5rem 0 0 auto;
	padding: 0;

	background: none;
	border: none;

	appearance: none;

	@media (--large) {
		display: none;
	}

	& > * {
		pointer-events: none;
	}

	&:focus {
		border: none;
		outline: 0;
	}

	.navigation__mobile-toggle__icon {
		position: relative;

		margin: 0 auto;

		transition-duration: 0s;
		transition-delay: 0.2s;

		&:before,
		&:after {
			position: absolute;
			content: '';
		}

		&,
		&:before,
		&:after {
			display: block;

			width: 30px;
			height: 3px;

			background-color: var(--color-text);
		}

		&:before {
			margin-top: -12px;

			transition-property: margin, transform, backgroud-color;
			transition-duration: 0.2s;
			transition-delay: 0.2s, 0s;
		}

		&:after {
			margin-top: 12px;

			transition-property: margin, transform, backgroud-color;
			transition-duration: 0.2s;
			transition-delay: 0.2s, 0s;
		}
	}
}

.mobile-menu-active {
	.navigation__logo {
		filter: brightness(10);

		@media (--large) {
			filter: brightness(100%);
		}
	}

	.navigation__mobile-toggle .navigation__mobile-toggle__icon {
		background-color: rgba(0, 0, 0, 0);
		transition-delay: 0.2s, 0.2s, 2s;

		&:before,
		&:after {
			background-color: var(--color-white);
		}

		&:before {
			transform: rotate(45deg);

			margin-top: 0;

			transition-delay: 0s, 0.2s, 0.2s;
		}

		&:after {
			transform: rotate(-45deg);

			margin-top: 0;

			transition-delay: 0s, 0.2s, 0.2s;
		}
	}

	.navigation__scroll {
		display: block;
	}
}
