.pagination {
	width: 100%;

	padding: 2rem 0 0;

	border-top: 2px solid var(--color-yellow);
}

.pagination__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination__action {
	width: 50%;
}

.pagination__action--previous {
	margin: 0;
}

.pagination__action--next {
	margin-left: auto;

	text-align: right;
}

.pagination__action-link {
	display: inline-block;

	padding: 1rem;
}
