---
---

<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		Buurthuis Keijenburg
		{% if page.url !== "/" %}
			{% if title %}
			- {{ title }}
			{% elif eleventyNavigation and eleventyNavigation.key %}
			- {{ eleventyNavigation.key }}
			{% endif %}
		{% endif %}
	 </title>

	<link rel="shortcut icon" href="{{ "/" | url }}favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ "/" | url }}favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="{{ "/" | url }}lib/css/main.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		{% include "../header.njk" %}

		<main class="main">
			{{ content | safe }}
		</main>

		{% include "../footer.njk" %}
	</div>

	<script src="{{ "/" | url }}lib/js/main.js"></script>
</body>
</html>
