---
layout: base
---

{% if visual %}
<div class="page_visual" style="background-image: url({{ "/" | url }}lib/img/content/{{ visual }});"></div>
{% endif %}

<article class="content container">
	{% include "../breadcrumbs.njk" %}

	{% include "../page-title.njk" %}

	{{ content | safe }}
</article>
