---
layout: base
---

{% if visual %}
	<div class="page_visual" style="background-image: url({{ "/" | url }}lib/img/content/{{ visual }});"></div>
{% endif %}

<article class="content container">
	<nav class="breadcrumbs" aria-labelledby="breadcrumb">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__list-item">
				<a href="{{ "/" | url }}" class="breadcrumbs__link">Home</a>
				<span>/ </span>
			</li>

			<li class="breadcrumbs__list-item">
				<a href="{{ "/" | url }}fotoalbums" class="breadcrumbs__link">Fotoalbums</a>
				<span>/ </span>
			</li>

			<li class="breadcrumbs__list-item">
				<a href="{{ "/" | url }}fotoalbums#year-{{ fotoalbum.year }}" class="breadcrumbs__link">{{ fotoalbum.year }}</a>
				<span>/ </span>
			</li>

			<li class="breadcrumbs__list-item">
				<a href="{{ page.url }}" class="breadcrumbs__link">{{ fotoalbum.name }}</a>
			</li>
		</ul>
	</nav>

	<h1 class="page__title">
		{{ fotoalbum.name | capitalize }}
	</h1>

	{{ content | safe }}

	{% for image in fotoalbum.images %}
		<img src="{{ "/" | url }}lib/img/gallery/{{ fotoalbum.year }}/{{ fotoalbum.name }}/{{ image }}" loading="lazy" alt="" /> <br />
	{% endfor %}

	<hr />

	<a href="">Terug naar het overzicht</a>
</article>


