---
layout: base
visual: voorgevel.jpg
permalink: /
---

<div class="page_visual page_visual--large" style="background-image: url({{ "/" | url }}lib/img/content/{{ visual }});"></div>

<article class="content container">
	{{ content | safe }}
</article>

<!--
<div class="text-center">
	<< TODO: ADD FACEBOOK NEWS >>
</div>
-->

<div class="services">
	<div class="container">
		<h1 class="services__title text-center">Aanwezig binnen Buurthuis Keijenburg</h1>

		<ul class="services__list">
			{%- for service in collections.services -%}
				<li class="services__list-item text-center">
					<div class="services__icon"></div>

					<h2 class="services__subtitle">
						{{ service.data.title }}
					</h2>

					<div class="services__excerpt">
						{{ service.data.excerpt | safe }}
					</div>

					<a href="{{ service.url }}" class="btn btn--secondary services__more-information">
						Lees meer
					</a>
				</li>
			{%- endfor -%}
		</ul>
	</div>
</div>

<div class="call-to-action">
	<div class="call-to-action__wrapper container">
		<div class="call-to-action__body text-center">
			<h1 class="visuallyhidden">Vrijwilligers</h1>
			Ook vrijwilliger worden?<br />
			Wij zijn op dit moment op zoek naar een flexibele vrijwilliger!<br />
			We leggen u graag uit wat u kunt betekenen!
		</div>
		<div class="call-to-action__button">
			<a class="btn" href="{{ "/" | url }}contact">contact</a>
		</div>
	</div>
</div>
