---
layout: base
visual: voorgevel.jpg
permalink: /
---

<div class="page_visual page_visual--large" style="background-image: url({{ "/" | url }}lib/img/content/{{ visual }});">

	{% if highlightText %}
		<a href="{{ "/" | url }}{{ highlightUrl }}" class="highlight" data-content="{{ highlightActionText }}">
			{{ highlightText }}
		</a>
	{% endif %}

	<a href="{{ "/" | url }}lib/files/corona-protocol-keijenburg-versie-september-2021.pdf" class="highlight highlight--second" data-content="Bekijk het protocol">
		Corona protocol September 2021
	</a>
</div>

<article class="content container text-center">
	<div class="content__body">
		{% set activeNewsItem = collections.news[collections.news.length - 1] %}

		<h1>{{ activeNewsItem.data.title }}</h1>

		{{ activeNewsItem.templateContent | safe }}

		<small class="content__date">{{ activeNewsItem.date | formatNumericDay }} {{ activeNewsItem.date | formatMonth }} {{ activeNewsItem.date | formatYear }}</small>
	</div>
</article>

<div class="activities__section text-center">
	<h1>Onze activiteiten</h1>

	<a href="{{ "/" | url }}activiteiten/agenda" class="btn">Bekijk de maand agenda</a>
	<a href="{{ "/" | url }}activiteiten/vaste-activiteiten" class="btn">Bekijk de vaste week activiteiten</a>
</div>

<div class="facebook">
	<div class="container">
		<h1 class="text-center">Facebook</h1>

		<div class="facebook__container">
			{% for post in facebook %}
				<div class="facebook__post {% if post.full_picture %}facebook__post--image{% endif %}">
					<a href="https://www.facebook.com/{{ post.id }}" class="facebook__post-link">
						<span class="facebook__post-link__text">
							Bekijk het bericht…
						</span>
					</a>

					{% if post.full_picture %}
						<div class="facebook__post-visual">
							<img src="{{ post.full_picture }}" alt="" />
						</div>
					{% endif %}

					<div class="facebook__post-body">
						<small class="facebook__post-date">
							{{ post.created_time | formatDateTime }}
						</small>

						<div class="facebook__post-content">
							{% if post.full_picture %}
								{{ post.message | truncate(225, false, "…") }}
							{% else %}
								{{ post.message | truncate(500, false, "…") }}
							{% endif %}
						</div>
					</div>
				</div>

			{% endfor %}
		</div>

		<div class="text-center">
			<a href="https://www.facebook.com/buurthuiskeijenburg/" class="btn btn--facebook">Bekijk alle berichten</a>
		</div>
	</div>
</div>

<div class="services">
	<div class="container">
		<h1 class="text-center">Aanwezig binnen Buurthuis Keijenburg</h1>

		<ul class="services__list">
			{%- for service in collections.services | sortByTitle() -%}
				<li class="services__list-item text-center">
					<div class="services__icon" style="background-image: url({{ '/' | url }}lib/img/icons/{{ service.data.icon }})"></div>

					<h2 class="services__subtitle">
						{{ service.data.title }}
					</h2>

					<div class="services__excerpt">
						{{ service.data.excerpt | safe }}
					</div>

					<a href="{{ service.url }}" class="btn btn--secondary services__more-information">
						Lees meer
					</a>
				</li>
			{%- endfor -%}
		</ul>
	</div>
</div>

<div class="call-to-action">
	<div class="call-to-action__wrapper container">
		<div class="call-to-action__body text-center">
			<h1 class="visuallyhidden">Ook vrijwilliger worden?</h1>
			Ook vrijwilliger worden?<br />
			Of heeft u zelf een activiteit/idee die u graag zou willen opzetten?<br />
			Neem vrijblijvend contact met ons op<br />en we gaan na wat we voor elkaar kunnen betekenen.
		</div>
		<div class="call-to-action__button">
			<a class="btn" href="{{ "/" | url }}contact">contact</a>
		</div>
	</div>
</div>
