---
layout: content
---

<div class="news">
	{%- for item in pagination.items%}

		<article class="news__item">
			<div>{{ item.data.date | formatNumericDay }} {{ item.data.date | formatMonth }} {{ item.data.date | formatYear }}</div>
			<h1>{{ item.data.title }}</h1>

			{{ item.templateContent | safe }}
		</article>

	{% endfor %}
</div>

<nav aria-labelledby="pagination"  class="pagination">
	<ol class="pagination__list">
		<li class="pagination__action pagination__action--previous">
			{% if pagination.href.previous %}
				<a href="{{ pagination.href.previous }}" class="btn">Vorige</a>
			{% endif %}
		</li>
		<li class="pagination__action pagination__action--next">
			{% if pagination.href.next %}
				<a href="{{ pagination.href.next }}" class="btn">Volgende</a>
			{% endif %}
		</li>
	</ol>
</nav>
