---
layout: content
---

{{ content | safe }}

<h2>Onze verenigingen</h2>

{% set navPages = collections.all | eleventyNavigation('Verenigingen') %}

<ul>
	{%- for entry in navPages | sortByTitle() %}
		<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
			<a href="{{ entry.url | url }}">{{ entry.title }}</a>
		</li>
	{%- endfor %}
</ul>
