---
import ContentLayout from "../../layouts/content.astro";

export async function getStaticPaths({ paginate }) {
	const newsFiles = import.meta.glob("../../_content/nieuws/**/*.{md,mdx}", { eager: true });
	const posts = Object.values(newsFiles).sort(
		(a: any, b: any) =>
			new Date(b.frontmatter.date).valueOf() -
			new Date(a.frontmatter.date).valueOf()
	);

	return paginate(posts, { pageSize: 2 });
}

const { page } = Astro.props;
---

<ContentLayout>
	<div class="news">
		{
			page.data.map(({ Content, frontmatter }) => (
				<article class="news__item">
					<div>
						{new Date(frontmatter.date).toLocaleDateString("nl-NL", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})}
					</div>
					<Content />
				</article>
			))
		}
	</div>

	<nav aria-labelledby="pagination" class="pagination">
		<ol class="pagination__list">
			<li class="pagination__action pagination__action--previous">
				{
					page.url.prev ? (
						<a href={page.url.prev} class="btn">
							Vorige
						</a>
					) : (
						""
					)
				}
			</li>
			<li class="pagination__action pagination__action--next">
				{
					page.url.next ? (
						<a href={page.url.next} class="btn">
							Volgende
						</a>
					) : (
						""
					)
				}
			</li>
		</ol>
	</nav>
</ContentLayout>

<style>
	.news__item {
		padding: 2rem 0;

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-yellow);
		}

		h1 {
			margin-bottom: 2rem;
		}
	}

	.pagination {
		width: 100%;

		padding: 2rem 0 0;

		border-top: 2px solid var(--color-yellow);
	}

	.pagination__list {
		display: flex;

		margin: 0;
		padding: 0;

		list-style: none;
	}

	.pagination__action {
		width: 50%;
	}

	.pagination__action--previous {
		margin: 0;
	}

	.pagination__action--next {
		margin-left: auto;

		text-align: right;
	}

	.pagination__action-link {
		display: inline-block;

		padding: 1rem;
	}
</style>
