---
import Navigation from "./Navigation.astro";
---

<header class="header">
	<div class="container">
		<Navigation />
	</div>
</header>

<style>
	.header {
		position: relative;
		z-index: 1;

		padding: 1rem 0;

		background-color: var(--color-white);
		box-shadow: 0 10px 14px -13px var(--color-true-black);
	}
</style>
