---
---

<div class="call-to-action">
	<div class="call-to-action__wrapper container">
		<div class="call-to-action__body text-center">
			<h1 class="visuallyhidden">Ook vrijwilliger worden?</h1>
			Ook vrijwilliger worden?<br />
			Of heeft u zelf een activiteit/idee die u graag zou willen opzetten?<br />
			Neem vrijblijvend contact met ons op<br />en we gaan na wat we voor elkaar
			kunnen betekenen.
		</div>
		<div class="call-to-action__button">
			<a class="btn" href="/contact">contact</a>
		</div>
	</div>
</div>

<style>
	.call-to-action {
		padding: 2rem;

		background-color: var(--color-purple);
		border-bottom: 4px solid var(--color-white);
	}

	.call-to-action__wrapper {
		display: flex;
		flex-direction: column;

		@media (--medium) {
			justify-content: space-around;
			align-items: center;

			flex-direction: row;
		}
	}

	.call-to-action__body {
		margin-bottom: 1rem;

		color: var(--color-white);
		font-size: var(--font-size-l);
		font-weight: bold;
		line-height: 2;
	}

	.call-to-action__button {
		text-align: center;

		.btn {
			margin: 0;
		}
	}

	@media (min-width: 45rem) {
		.call-to-action__wrapper {
			justify-content: space-around;
			align-items: center;

			flex-direction: row;
		}

		.call-to-action__body {
			margin-bottom: 0;
		}
	}
</style>
