---

---

<div class="activities__section text-center">
    <h1>Onze activiteiten</h1>

    <a href="/activiteiten/agenda" class="btn">Bekijk de maand agenda</a>
    <a href="/activiteiten/vaste-activiteiten" class="btn">Bekijk de vaste week activiteiten</a>
</div>