---
const newsFiles = import.meta.glob("../_content/nieuws/**/*.{md,mdx}", { eager: true });
const [{ Content, frontmatter }] = Object.values(newsFiles).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf()
) as any[];
---

<article class="content container text-center">
	<div class="content__body">
		<Content />

		<small class="content__date">
			{
				new Date(frontmatter.date).toLocaleDateString("nl-NL", {
					year: "numeric",
					month: "short",
					day: "numeric",
				})
			}
		</small>
	</div>
</article>

<style>

	ul {
		color: red;
		list-style-position: inside !important;
	}
</style>
