---
---

<div class="call-to-action">
    <div class="call-to-action__wrapper container">
        <div class="call-to-action__body text-center">
            <h1 class="visuallyhidden">Ook vrijwilliger worden?</h1>
            Ook vrijwilliger worden?<br />
            Of heeft u zelf een activiteit/idee die u graag zou willen opzetten?<br />
            Neem vrijblijvend contact met ons op<br />en we gaan na wat we voor elkaar kunnen betekenen.
        </div>
        <div class="call-to-action__button">
            <a class="btn" href="/buurthuiskeijenburg/contact">contact</a>
        </div>
    </div>
</div>
