---
import NavigationLink from './NavigationLink.astro';
import NavigationChildLink from './NavigationChildLink.astro';
---

<nav class="navigation">
    <div class="navigation__container">
        <h1 class="visuallyhidden">Buurthuis Keijenburg</h1>

        <a href="/buurthuiskeijenburg" class="navigation__logo">
            <img src="/buurthuiskeijenburg/images/logo-alternative.svg" alt="Buurthuis Keijenburg" />
        </a>

        <div class="navigation__scroll">
            <ul class="navigation__list">
                <NavigationLink href="/buurthuiskeijenburg/nieuws">Nieuws</NavigationLink>
                <NavigationLink href="/buurthuiskeijenburg/activiteiten">
                    Activiteiten

                    <ul slot="children" class="navigation__sublist" aria-label="submenu">
                        <NavigationChildLink href="/buurthuiskeijenburg/activiteiten/agenda">Agenda</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/activiteiten/vaste-activiteiten">Vaste activiteiten</NavigationChildLink>
                    </ul>
                </NavigationLink>
                <NavigationLink href="/buurthuiskeijenburg/het-team">Het team</NavigationLink>
                <NavigationLink href="/buurthuiskeijenburg/keijenburg">
                    Keijenburg

                    <ul slot="children" class="navigation__sublist" aria-label="submenu">
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/historie">De historie</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/openingstijden">Openingstijden</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/in-het-nieuws">In het nieuws</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/huisregels">Huisregels</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/avg">AVG</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/corona-informatie">Corona informatie</NavigationChildLink>
                        <NavigationChildLink href="/buurthuiskeijenburg/keijenburg/jaarverslag">Jaarverslagen</NavigationChildLink>
                    </ul>
                </NavigationLink>

                <NavigationLink href="/buurthuiskeijenburg/verenigingen">Verenigingen</NavigationLink>
                <NavigationLink href="/buurthuiskeijenburg/fotoalbums">Fotoalbums</NavigationLink>
                <NavigationLink href="/buurthuiskeijenburg/zaalverhuur">Zaalverhuur</NavigationLink>
                <NavigationLink href="/buurthuiskeijenburg/contact">Contact</NavigationLink>
            </ul>
        </div>

        <button class="navigation__mobile-toggle js-toggle-menu">
            <span class="navigation__mobile-toggle__icon"></span>
        </button>
    </div>
</nav>
