---
export interface Props {
  visual?: string;
}

const { visual } = Astro.props;
const visualUrl = `background-image: url(/buurthuiskeijenburg/images/${ visual ? visual : 'content/voorgevel.jpg' });`;

---

<div class="page_visual" style={visualUrl}></div>
