.facebook {
	padding: 1rem 0 2rem;

	background: var(--color-gray-light);
	border-bottom: 4px solid var(--color-white);

	@media (--large) {
		padding: 2rem;
	}
}

.facebook__container {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 1rem;
}

.facebook__post-body {
	position: relative;
	grid-row: 1/3;

	height: 100%;

	padding: 0.75rem 1rem;

	background-color: var(--color-white);
	border-radius: var(--radius-large);
}

.facebook__post-content {
	overflow: hidden;

	word-break: break-word;
}

.facebook__post {
	position: relative;

	overflow: hidden; /* for IE */

	width: 100%;
	max-height: 350px; /* for IE */

	margin: 1rem 0;

	@media (--medium) {
		width: calc(50% - 2rem);

		margin: 1rem;
	}

	&--image {
		display: grid;
		grid-template-rows: 150px auto;

		@media (--large) {
			grid-template-columns: 50% 50%;
			grid-template-rows: auto;
		}

		.facebook__post-body {
			grid-row: 2/3;

			border-radius: 0 0 var(--radius-large) var(--radius-large);

			@media (--large) {
				grid-row: 1;
				grid-column: 2/3;

				border-radius: 0 var(--radius-large) var(--radius-large) 0;
			}
		}
	}
}

.facebook__post-visual {
	position: relative;

	grid-row: 1/2;

	@media (--large) {
		grid-row: 1;
		grid-column: 1/2;
	}

	&:after {
		display: block;

		padding-bottom: 100%;

		content: '';
	}

	img {
		position: absolute;

		width: 100%;
		height: 100%;

		object-fit: cover;

		border-radius: var(--radius-large) var(--radius-large) 0 0;

		@media (--large) {
			border-radius: var(--radius-large) 0 0 var(--radius-large);
		}
	}
}

.facebook__post-date {
	display: block;
}

.facebook__post-link__text {
	position: absolute;
	top: 50%;
	left: 50%;

	display: none;

	transform: translate(-50%, -50%);
}

.facebook__post-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 9999;

	border-radius: var(--radius-large);

	&:hover {
		color: var(--color-white);
		text-decoration: none;
		text-align: center;
		font-weight: bold;

		background-color: var(--color-facebookRGBA);
		border: 1px solid var(--color-facebook-border);

		.facebook__post-link__text {
			display: block;
		}
	}
}
