.footer {
	padding: 2rem 0;

	background: var(--color-pink);

	&__wrapper {
		display: flex;
		flex-direction: column;

		@media (--medium) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__item {
		color: var(--color-pink-light);

		&:first-child {
			margin-bottom: 2rem;
			padding-bottom: 2rem;

			border-bottom: 1px solid var(--color-pink-light);
		}

		a:not(.footer__social) {
			color: var(--color-pink-light);

			&:hover {
				color: var(--color-black);
			}
		}

		@media (--medium) {
			width: 50%;

			&:first-child {
				margin-bottom: 0;
				padding-right: 15%;
				padding-bottom: 0;

				border-bottom: none;
			}
		}

		&--full {
			width: 100%;
		}
	}

	&__table {
		margin-left: -1rem;

		td {
			padding: 0 1rem;
			vertical-align: top;
		}

		tfoot td {
			padding: 1rem;
		}
	}

	&__title {
		color: var(--color-white);
	}

	&__social {
		display: inline-block;

		width: 110px;

		margin-bottom: 1rem;

		&:hover {
			background-color: #3b5998; /* facebook blue */
			border-radius: 50%;
		}
	}
}
