<footer class="footer">
	<div class="container">
		footer

		Openingstijdens:
		Maandag	09:00u – 17.00u
		19:00u – 22.30u
		Dinsdag	09.00u – 15.00u
		18.30u – 22.30u
		Woensdag	09.00u – 22.30u
		Donderdag	19.00u – 23.00u
		Iedere 1e zondag
		vd maand	09.00u – 13.00u
		Overige tijden:	* Afhankelijk van activiteiten
	</div>
</footer>
