<header class="header">
	<div class="container">

		<nav class="navigation">
			<div class="navigation__container">
				<h1 class="visuallyhidden">Buurthuis Keijenburg</h1>

				<a href="{{ "/" | url }}" class="navigation__logo">
					<img src="{{ "/" | url }}lib/img/logo-alternative.svg" alt="Buurthuis Keijenburg" />
				</a>

				{% set navPages = collections.all | eleventyNavigation %}
				<ul class="navigation__list">
					{%- for entry in navPages %}
						<li class="navigation__list-item">
							<a href="{{ entry.url | url }}" class="navigation__link{% if entry.url == page.url %} is-active{% endif %}">
								{{ entry.title }}
							</a>
						</li>
					{%- endfor %}
				</ul>

				<button class="navigation__mobile-toggle js-toggle-menu"><span class="navigation__mobile-toggle__icon"></span></button>
			</div>
		</nav>
	</div>
</header>
