<header class="header">
	<div class="container">

		<nav class="navigation">
			<div class="navigation__container">
				<h1 class="visuallyhidden">Buurthuis Keijenburg</h1>

				<a href="{{ "/" | url }}" class="navigation__logo">
					<img src="{{ "/" | url }}lib/img/logo-alternative.svg" alt="Buurthuis Keijenburg" />
				</a>

				{% set navPages = collections.all | eleventyNavigation %}

				<div class="navigation__scroll">
					<ul class="navigation__list">
						{%- for entry in navPages %}
							{% set isActive = (entry.url === page.url or entry.title === eleventyNavigation.parent) %}

							{# Mark top navigation as active when visiting child fotoalbums #}
							{% if page.url.includes('fotoalbums') and entry.title === 'Fotoalbums' %}
								{% set isActive = true %}
							{% endif %}

							<li class="navigation__list-item{% if isActive %} is-active{% endif %}">
								<a href="{{ entry.url | url }}" class="navigation__link" {% if entry.children.length %}aria-haspopup="true"{% endif %}>
									{{ entry.title }}
								</a>

								{# Prevent all verenigingen showing up in the menu #}
								{% if entry.title !== 'Verenigingen' and entry.children.length %}
								<ul class="navigation__sublist" aria-label="submenu">
									{%- for child in entry.children %}
										<li class="navigation__list-item{% if child.url == page.url %} is-active{% endif %}">
											<a href="{{ child.url | url }}" class="navigation__link">{{ child.key }}</a>
										</li>
									{%- endfor %}
								</ul>
								{% endif %}
							</li>
						{%- endfor %}
					</ul>
				</div>

				<button class="navigation__mobile-toggle js-toggle-menu">
					<span class="navigation__mobile-toggle__icon"></span>
				</button>
			</div>
		</nav>
	</div>
</header>
