<header class="header">
	<div class="container">

		<nav class="navigation">
			<div class="navigation__container">
				<h1 class="visuallyhidden">Buurthuis Keijenburg</h1>

				<a href="{{ "/" | url }}" class="navigation__logo">
					<img src="{{ "/" | url }}img/logo-alternative.svg" alt="Buurthuis Keijenburg" />
				</a>

				<ul class="navigation__list">
					{%- for nav in collections.myNav -%}
						<li class="navigation__list-item">
							<a href="{{ nav.url | url }}" class="navigation__link {% if nav.url === page.url %}is-active{%- endif %}">
								{{ nav.data.title }}
							</a>
						</li>
					{%- endfor -%}

					{# <li class="navigation__list-item">
						<a href="#" class="navigation__link">Nieuws</a>
					</li>
					<li class="navigation__list-item">
						<a href="#" class="navigation__link">Agenda</a>

						<ul class="navigation__list">
							<li class="navigation__list-item">
								<a href="#" class="navigation__link">Evenementen</a>
							</li>
							<li class="navigation__list-item">
								<a href="#" class="navigation__link">Vaste activiteiten</a>
							</li>
						</ul>
					</li> #}
				</ul>

				<button class="navigation__mobile-toggle js-toggle-menu"><span class="navigation__mobile-toggle__icon"></span></button>
			</div>
		</nav>
	</div>
</header>
