<h1 class="page__title">
	{% if title %}
		{{ title }}
	{% elif eleventyNavigation and eleventyNavigation.title %}
		{{ eleventyNavigation.title }}
	{% elif eleventyNavigation and eleventyNavigation.key %}
		{{ eleventyNavigation.key }}
	{% endif %}
</h1>
