h1, h2, h3, h4, h5, h6 {
	color: var(--color-headings);
	line-height: 1.6;

	font-weight: var(font-weight-bold);
}

h1 {
	margin: 0 0 var(--distance-xs);

	font-size: var(--font-size-l);

	&:not(.page__title) + p {
		margin-top: calc(var(--distance-xs) * -1);
	}
}

h2 {
	margin: 0 0 var(--distance-xs);

	font-size: var(--font-size-m);

	& + p {
		margin-top: calc(var(--distance-xs) * -1);
	}
}

h3, h4, h5, h6 {
	margin: 0;

	font-size: var(--font-size-s);
	color: var(--color-text);
}

p {
	margin: 0 auto var(--distance-s);

	font-family: var(--font-face-body);
}

a {
	color: var(--color-link);

	&:hover {
		color: var(--color-black);
	}
}

blockquote {
	margin: var(--distance-xxl) 0;
	padding: 0 5vw;

	border-left: 4px solid var(--color-olive);
}

.content {
	h2 + p {
		margin-top: var(--distance-s);
	}

	table + p {
		margin-top: var(--distance-s);
	}

	h1:not(.page__title) + p {
		margin-top: calc(var(--distance-xs) * -1);
	}

	img {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}

	@media (--small) {
		h1:not(.page__title) + p {
			margin-top: calc(var(--distance-m) * -1);
		}
	}
}


/* SMALL */
@media (min-width: 30rem) {
	h1 {
		margin: 0 0 var(--distance-m);

		font-size: var(--font-size-xl);

		&:not(.page__title) + p {
			margin-top: calc(var(--distance-m) * -1);
		}
	}

	h2 {
		margin: 0 0 var(--distance-m);

		font-size: var(--font-size-l);

		& + p {
			margin-top: calc(var(--distance-m) * -1);
		}
	}

	h3, h4, h5, h6 {
		margin: 0 0 var(--distance-xs);

		font-size: var(--font-size-m);

		& + p {
			margin-top: calc(var(--distance-xs) * -1);
		}
	}

	p {
		margin-bottom: var(--distance-m);
	}

	.content {
		h1:not(.page__title) + p {
			margin-top: calc(var(--distance-m) * -1);
		}
	}
}
