h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-headings);
	line-height: 1.6;

	font-weight: var(font-weight-bold);
}

h1 {
	margin: 0 0 var(--distance-xs);

	font-size: var(--font-size-l);
}

h1:not(.page__title) + p {
	margin-top: calc(var(--distance-xs) * -1);
}

h2 {
	margin: 0 0 var(--distance-xs);

	font-size: var(--font-size-m);
}

h2 + p {
	margin-top: calc(var(--distance-xs) * -1);
}

h3,
h4,
h5,
h6 {
	margin: 0;

	font-size: var(--font-size-s);
	color: var(--color-text);
}

p {
	margin: 0 auto var(--distance-s);

	font-family: var(--font-face-body);
}

a {
	color: var(--color-link);
}

a:hover {
	color: var(--color-black);
}

blockquote {
	margin: var(--distance-xxl) 0;
	padding: 0 5vw;

	border-left: 4px solid var(--color-olive);
}

.content h2 + p {
	margin-top: var(--distance-s);
}

.content table + p {
	margin-top: var(--distance-s);
}

.content h1:not(.page__title) + p {
	margin-top: calc(var(--distance-xs) * -1);
}

.content img {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

/* SMALL */
@media (min-width: 30rem) {
	h1 {
		margin: 0 0 var(--distance-m);

		font-size: var(--font-size-xl);
	}

	h1:not(.page__title) + p {
		margin-top: calc(var(--distance-m) * -1);
	}

	h2 {
		margin: 0 0 var(--distance-m);

		font-size: var(--font-size-l);
	}

	h2 + p {
		margin-top: calc(var(--distance-m) * -1);
	}

	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 var(--distance-xs);

		font-size: var(--font-size-m);
	}
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		margin-top: calc(var(--distance-xs) * -1);
	}

	p {
		margin-bottom: var(--distance-m);
	}

	.content h1:not(.page__title) + p {
		margin-top: calc(var(--distance-m) * -1);
	}
}
