.container {
	max-width: 75rem;

	margin: 0 auto;
	padding: 0 1rem;
}

.content {
	max-width: 44rem;

	margin: 0 auto;
	padding-top: 1rem;
	padding-bottom: 3rem;

	img {
		width: auto;

		margin: 0 auto;

		border: 5px solid var(--color-white);
	}
}

.content__body {
	margin-bottom: 3rem;
}

.main {
	width: 100%;

	margin: 0 auto;
}

.page_visual {
	position: relative;

	height: 20rem;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	border-bottom: 2px solid var(--color-yellow);

	&--large {
		height: 30rem;
		max-height: 70vh;
	}
}
